@{
    ViewData["Title"] = "Home Page";
}

<h1 >Welcome to the Dojo Activity Center</h1>
<div class="text-center" style="display: flex; justify-content:space-evenly">
    <partial name="RegistrationForm" />
    <partial name="LoginForm" />
</div>
